.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
.center-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}
.center-normal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}
